<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Thmeleaf3</title>
	<meta http-equiv="Content-Type" content="text/html;" charset="utf-8"/>
	</head>
	<body>
		<table border="1" th:with="target='u0001'">
			<tr>
				<th>MID</th>
				<th>MNAME</th>
				<th>REGDATE</th>
			</tr>
			<tr th:each="member : ${list}">
				<!-- <td th:text="${member.mid == target ? 'SECRET' : member.id}"></td> -->
				<td th:if="${member.mid}">
					<a href="/modify" th:if="${member.mid == target}">MODIFY</a>
					<p th:unless="${member.mid==target}">VIEW</p>
				</td>
				<td th:text="${member.mname}"></td>
				<td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
			</tr>
		</table>
	</body>
</html>